$primary: #005288;
$secondary: #52505f;
$info: rgb(25, 181, 181);
$success: #70ca75;
$warning: #ff9f43;
$danger: crimson;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);
